* {
  margin: 0;
  padding: 0;
  color: wheat;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-image: url("/wallpaper.jpg");
  background-size: cover;
}

.red_player,
.blue_player {
  display: flex;
}

.card_container {
  height: 383px;
  width: 274px;
  border-radius: 5%;
  margin: 10px;
}

.card {
  height: 383px;
  width: 274px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 5%;
  box-shadow: 10px white;
  box-shadow: 0px 0px 20px 5px rgb(2, 2, 2);
}

.card:hover {
  border: 1px solid rgb(102, 100, 100);
  box-shadow: 0px 0px 20px 5px rgb(255, 255, 255);
}

.card.isflipped {
  transform: rotateY(180deg);
}

.card_front {
  display: flex;
  height: 383px;
  width: 274px;
  position: absolute;
  background-image: url("/Back_cover2.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 10px white;
}

.card_back {
  display: flex;
  flex-direction: column;
  height: 383px;
  width: 274px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url("/Back_cover.png");
  background-size: cover;
  transform: rotateY(180deg);
  border-radius: 5%;
}

.Implement {
  color: rgb(51, 51, 51);
  font-family: "Dancing Script", cursive;
  font-size: 100px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 60px 30px rgba(254, 254, 255, 0.555);
  text-align: center;
}

.counters {
  display: flex;
  background: rgb(156, 156, 158);
  background: radial-gradient(
    circle,
    rgba(212, 212, 212, 0.568) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.counter_container {
  height: 75px;
  width: 300px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter_1 {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
    0 0 21px rgb(255, 255, 255), 0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255), 0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255), 0 0 151px rgb(255, 255, 255);
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  padding-right: 30px;
  padding-top: 25px;
  justify-content: center;
  font-weight: 1000;
  height: 67px;
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.counter_2 {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
    0 0 21px rgb(255, 255, 255), 0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255), 0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255), 0 0 151px rgb(255, 255, 255);
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  padding-right: 30px;
  padding-top: 7px;
  justify-content: center;
  font-weight: 1000;
}

.counter_container p {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
    0 0 21px rgb(255, 255, 255), 0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255), 0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255), 0 0 151px rgb(255, 255, 255);
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  padding-left: 30px;
  padding-top: 7px;
  justify-content: center;
  font-weight: 800;
}

.notification {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 5;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.671));
  border-radius: 5%;
  z-index: 40;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.548);
}

.notification .alert {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
    0 0 21px rgb(255, 255, 255), 0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255), 0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255), 0 0 151px rgb(255, 255, 255);
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  padding-right: 30px;
  padding-top: 7px;
  justify-content: center;
  font-weight: bolder;
}

.start {
  padding: 20px 40px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255),
    0 0 21px rgb(255, 255, 255), 0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255), 0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255), 0 0 151px rgb(255, 255, 255);
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  font-weight: 800;
  background-color: transparent;
  border: 1px solid rgba(231, 231, 231, 0.781);
  border-radius: 25%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.719);
}

.start:hover {
  border: 1px solid rgba(0, 0, 0, 0.781);
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.966), 0 0 10px rgba(0, 0, 0, 0.473),
    0 0 21px rgba(0, 0, 0, 0.473), 0 0 42px #000000, 0 0 82px #000000,
    0 0 92px #000000, 0 0 102px #000000, 0 0 151px #000000;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.719);
}
